.header{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 10px solid gainsboro;
}
.logo{
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}