@media (min-width: 768px){
    .connection-form{
        background: white;
        position: absolute;
        border: 1px solid gainsboro;
        border-radius: 2%;
        width: 600px;
        height: 600px;
        left: calc(50% - 300px);
        top: calc(50% - 300px);
    }
    .logo{
        width: 150px;
    }
}

@media (max-width: 768px){
    .connection-form{
        display: block;
        width: 100%;
        height: 100%;
    }
    .logo{
        display: none;
    }
    .container{
        margin-top: 10px;
    }
}
